/* css reset */
*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background: linear-gradient(-180deg, #482649, #202024);
}

/* details board design */
.detailsBoard{
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 30px;
    color: white;
    border: 1px solid white;
    box-shadow: 3px 3px 15px white;
}

.scoreBoard, .detailsBoard form, .gameBtn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.score, .highScore{
    background-color: white;
    color: black;
    font-weight: 800;
    padding: 1px 10px;
}

.gameLevelDiv, .gameModeDiv{
    display: flex;
    align-items: center;
    gap: 5px;
}

button, select{
    cursor: pointer;
    border: 1px solid white;
    background: linear-gradient(-180deg, #482649, #202024);
    color: white;
    font-weight: 600;
}

select{
    padding: 3px 5px;
}

button{
    padding: 5px 15px;
}

option{
    color: black;
    font-weight: 900;
}

button:hover, select:hover{
    
}

/* game board design */
.gameBoard{
    height: 90vh;
    width: 90vh;
    display: grid;
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(20, 1fr);
    background-color: white;   
    border: 1px solid white;
    background-image: url("./boardBackground.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 3px 3px 15px white;
}

/* snake design */
.snake{
    position: relative;
    z-index: 100;
    /* border: 1px solid blue;
    background-color: green; */
    border-radius: 50%;
    background-image: url("./snakeHead.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* food design */
.food{
    border-radius: 50%;
    background-image: url("./foodImage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}